@import "colors.css";
.menu{
    -fx-background-color: #181740;
}

.menu_item{
    -fx-font-size:18px;
    -fx-font-color:white;
    -fx-pre-width:25px;
}

.menu_item:hover{
    -fx-background-color:#223ea3;
}

.step{
    -fx-font-size:15;
    -fx-padding:20;
    -fx-border-color:black;
    -fx-border-radius:5;
}

.step:hover{
    -fx-background-color:#ebefee;
    -fx-border-radius:0;
}